{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">My
                            Courses</a></li>
                    <li class="list-inline-item text-white h3 font-secondary "></li>
                </ul>
                <p class="text-lighten">Kurslarimiz</p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- courses -->
<section class="section">
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">

            <!-- course item -->
            {% for my_course in courses %}
            <div class="col-lg-4 col-sm-6 mb-5">
                <div class="card p-0 border-primary rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="{{ my_course.course.image.url }}" alt="course thumb">
                    <div class="card-body">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <i class="ti-calendar mr-1 text-color"></i>
                                {{ my_course.course.created_at|date:"d M, Y" }}
                            </li>
                        </ul>
                        <a href="{% url 'course:detail' my_course.course.id %}">
                            <h4 class="card-title">{{ my_course.course.name }}</h4>
                        </a>
                        <p class="card-text mb-4">
                            {{ my_course.course.description|slice:":100" }}
                        </p>
                        <a href="{% url 'course:my_course_detail' my_course.course.id %}"
                            class="btn btn-primary btn-sm">
                            Kursni boshlash
                        </a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <h2 class="text-center">No Courses Found</h2>
            </div>

            {% endfor %}

        </div>
        <!-- /course list -->

    </div>
</section>
<!-- /courses -->

{% endblock %}