{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="#">My
                            Courses</a></li>
                    <li class="list-inline-item text-white h3 font-secondary nasted">
                        {{ my_course.name }}
                    </li>
                </ul>
                <p class="text-lighten">My courses lessons </p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- section -->
<section class="section-sm">
    <div class="container">

        <!-- course info -->
        <div class="row align-items-center mb-5">
            <div class="col-xl-3 order-1 col-sm-6 mb-4 mb-xl-0">
                <h2>{{my_course.name}}</h2>
            </div>
            <!-- border -->
            <div class="col-12 mt-4 order-4">
                <div class="border-bottom border-primary"></div>
            </div>
        </div>
        <!-- course details -->
        <div class="row">
            <div class="col-12 mb-4">
                <h3 class="mb-3">Lessons</h3>
                <ul class="list-styled">
                    {% for lesson in lessons %}
                    <li>
                        <h6>
                            <a href="{% url 'course:lesson_detail' my_course.id  lesson.id %}">
                                {{lesson.title}}
                            </a>
                        </h6>
                        <p>{{lesson.description|slice:":100"}}</p>
                    </li>
                    {% empty %}
                    <li>
                        <h6>No lessons available</h6>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /section -->


{% endblock %}