{% load static %}

<!-- footer -->
<footer>

    <!-- footer content -->
    <div class="footer bg-footer section border-bottom" style="padding-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                    <!-- logo -->
                    <h1 class="logo-footer it-pro-2" href="#"><strong class="it">PYTHON</strong> ACADEMY</h1>
                    <ul class="list-unstyled">
                        <li class="mb-2">+998 (99) 753 39 09</li>
                        <li class="mb-2">Toshkent shahar, Chilonzor tumani, Cho'pon ota ko'chasi 14/1-uy</li>
                    </ul>
                </div>
                <!-- company -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">

                </div>
                <!-- links -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">Platforma</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a class="text-color" href="{% url 'course:course_list' %}">Kurslar</a></li>
                    </ul>
                </div>
                <!-- support -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">Kompaniya</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a class="text-color" href="#about">Biz haqimizda</a></li>
                        <li class="mb-3"><a class="text-color" href="#">Ommaviy oferta</a></li>
                        <li class="mb-3"><a class="text-color" href="#">
                                Maxfiylik siyosati
                            </a></li>
                    </ul>
                </div>
                <!-- support -->
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                    <h4 class="text-white mb-5">Ma'lumot</h4>
                    <ul class="list-unstyled">
                        <li class="mb-3"><a class="text-color" href="{% url 'contact' %}">Bog'lanish</a></li>
                        <li class="mb-3"><a class="text-color" href="#">FAQ</a></li>
                        <li class="mb-3"><a class="text-color" href="#">
                                Fikrlar
                            </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /footer -->