{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<!-- page title -->
<section class="page-title-section overlay" data-background="{% static 'images/backgrounds/page-title.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary"
                            href="@@page-link">Bog'lanish</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
                <p class="text-lighten">
                    Biz bilan bog'lanish
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->

<!-- contact -->
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Bog'lanish</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <form action="{% url 'contact' %}" method="post" class="contact-form">
                    {% csrf_token %}
                    <input type="text" class="form-control mb-3" id="name" name="name" placeholder="Ismingiz">
                    <input type="tel" class="form-control mb-3" id="phone" name="phone"
                        placeholder="Telefon raqamingiz">
                    <input type="text" class="form-control mb-3" id="tg_username" name="tg_username"
                        placeholder="Telegram username">
                    <button type="submit" value="send" class="btn btn-primary">Jo'natish</button>
                </form>
            </div>
            <div class="col-lg-5">
                <p class="mb-5">
                    Kasb tanlashdagi birinchi yordamni beramiz!
                    Ma’lumotlaringizni qoldiring va sizga tez fursatda aloqaga chiqamiz.
                </p>
                <a href="tel:+8802057843248" class="text-color h5 d-block">+998 (99) 753 39 09</a>
                <p>Toshkent shahar, Chilonzor tumani<br>Cho'pon ota ko'chasi 14/1-uy</p>
            </div>
        </div>
    </div>
</section>
<!-- /contact -->

<!-- gmap -->
<section class="section pt-0">
    <!-- Google Map -->
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 50px;">

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d749.4990748972615!2d69.203988!3d41.287185!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8a2e054186d9%3A0x6599ee84aaaa31f2!2s76P3%2BRHV%2C%20100097%2C%20Tashkent%2C%20Toshkent%20Shahri!5e0!3m2!1sen!2s!4v1716723113497!5m2!1sen!2s"
            width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<!-- /gmap -->

{% endblock content %}